<%# byebug %>
<tr id= "article <%= article.id%>">
<h4><%= article.title %></h4>
<td><%= link_to 'Show', article , remote:true %></td>
<!-- <div class="abc"> -->
    <%#= link_to "Edit", edit_article_path(article), remote: true %>
<!-- </div> -->
</tr>